<!DOCTYPE html>
<html>
        <head>
                <title>{{ nginx_hostname }} :: error</title>
                <style>
                        html { color-scheme: light dark; }
                        body { width: 35em; margin: 0 auto;
                        font-family: Tahoma, Verdana, Arial, sans-serif; }
                </style>
        </head>
        <body>
                <h1>An error occurred.</h1>
                <p>Sorry, the page you are looking for is currently walking it's goldfish.</p>
                <p><em>Faithfully yours, nek.</em></p>
        </body>
</html>