<!DOCTYPE html>
<html>
        <head>
                <title>{{ nginx_hostname }} :: welcome</title>
                <style>
                        html { color-scheme: light dark; }
                        body { width: 35em; margin: 0 auto;
                        font-family: Tahoma, Verdana, Arial, sans-serif; }
                </style>
        </head>
        <body>
                <h1>Welcome.</h1>
                <p>Great success!</p>
                <p><em>Faithfully yours, nek.</em></p>
        </body>
</html>